.box-add-check {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid black;
  display: flex;
  column-gap: 1rem;

  input {
    padding: 0.5rem;
    border-radius: 0.375rem;
    border: none;
  }

  button {
    font-size: 1rem;
    border-color: transparent;
    border-radius: 0.375rem;
    padding: 0.5rem 1rem;
    transition: 0.3s all;

    &:hover {
      border-color: black;
    }

    &:active {
      opacity: 0.5;
      scale: 0.95;
    }
  }
}
