.check-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.75rem;

  .text-check {
    font-size: 1.25rem;
    overflow-wrap: anywhere;
  }

  .text-check.status-completed {
    text-decoration: line-through;
  }

  input[type="text"] {
    padding: 0.5rem 0.94rem;
  }

  button {
    padding: 0.5rem 0.94rem;
    background-color: rgb(0 0 0 / 0);
    border: none;
    border-bottom: 2px solid transparent;
    color: #fbfbfb;
    font-size: 1.25rem;
    transition: 0.3s all;

    &:hover {
      color: red;
      border-color: red;
    }
  }

  /* The switch - the box around the slider */
  .switch {
    margin-left: auto;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  input:checked + .slider {
    background-color: #2196f3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
}
